<div class="modal fade" id="modalSearch" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">Registro del Usuario</label>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="form-modal">

          <div class="panel panel-col-p50">
            <div class="input-group">
              <label class="form-label" for="codigo_periodo">Correo:</label>
              <label class="label-control">{{periodDTO.codigo_periodo}}</label>
            </div>
            <div class="input-group">
              <label class="form-label" for="apellidos">Año:</label>
              <label class="label-control">{{periodDTO.anio}}</label>
            </div>
            <div class="input-group">
              <label class="form-label" for="nombres">Descripción:</label>
              <label class="label-control">{{periodDTO.descripcion}}</label>
            </div>
            
          </div>
  
          <div class="panel panel-col-p50">
            
            
          </div>

        </form>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" data-bs-dismiss="modal"><i class="fa-solid fa-rectangle-xmark"></i> Cerrar</button>
      </div>
    </div>
  </div>
</div>