<main>

  <section class="container" aria-label="Acerca de">

    <div class="content-title">
        <h1>Acerca de</h1>
        <p>La plataforma EDUCCONTI es desarrollada para mostrar las ofertas de cursos gratuitos que ofrece el El Instituto Tecnológico en la ciudad de Pasaje con el objetivo de impulsar el desarrollo de la comunidad en general.</p>
    </div>

    <h2 class="text-pm0">Autor</h2>
    <img class="photo photo-circle text-pm0" src="./assets/images/perfil.jpg" alt="Silvio Quezada Photo">
    
    <p class="text-medium text-pm0">Silvio Quezada</p>
    <p class="text-pm1">Programador de Software</p>
    
    <div class="content-aling-right">
        <button class="btn btn-primary"><i class="fa-brands fa-whatsapp"></i> Contáctame</button>
    </div>
    
  </section>

</main>