<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow-sm">
  
  
      <a class="aa" href="#">
        <img class="logo" src="./assets/images/logo.svg" alt="Imagen Logo">
      </a>
  
       <button class="navbar-toggler text-color-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
          <span class="text-color-primary">☰</span>
      </button>      
  
        <div class="collapse navbar-collapse nav-flex-end" id="navbar-content">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-color-black" (click)="home()">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-color-black" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Categoría</a>
              <ul class="dropdown-menu shadow">
                <li>
                  <a class="dropdown-item text-color-black" (click)="category()">Informática</a>
                </li>
                <li>
                    <a class="dropdown-item text-color-black" (click)="category()">Mecánica</a>
                </li>
                <li>
                    <a class="dropdown-item text-color-black" (click)="category()">Electricidad</a>
                </li>
                <li>
                    <a class="dropdown-item text-color-black" (click)="category()">Administración</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-color-black" (click)="mycourses()">Mis Cursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-color-black" (click)="requirements()">Requisitos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-color-black" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Gestión</a>
              <ul class="dropdown-menu shadow">
                <li>
                  <a class="dropdown-item text-color-black" href="user_management.html">Usuarios</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" href="period_management.html">Periodos</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" href="category_management.html">Categorías</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" href="course_management.html">Cursos</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" href="#">Inscripciones</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" href="#">Aprobaciones</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" href="#">Reportes</a>
                </li>
                <!-- <li class="dropend">
                  <a href="#" class="dropdown-item dropdown-toggle text-color-black" data-bs-toggle="dropdown" data-bs-auto-close="outside">Reportes</a>
                  <ul class="dropdown-menu shadow">
                    <li>
                      <a class="dropdown-item text-color-black" href="#">Inscritos</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-color-black" href="#">aprobación</a>
                    </li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-color-black" (click)="about()">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-color-black" (click)="profile()">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-color-black" (click)="login()">Acceder</a>
            </li>
            <li class="nav-item">
              <div class="nav-link text-color-black" href="login.html"><i class="fa-solid fa-circle-user"></i> Silvio Quezada
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-color-black text-small Sign_off" href="login.html">(Cerrar Sesión)</a>
            </li>
  
          </ul>
          
      </div>
  
  
  
  </nav>
  </header>
