.card {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 3px;
  
  text-align: center;

  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;

  transition: .5s;
}

.card-head {
  width: 100%;
  height: 180px;
  padding: 5px;

  text-align: center;

  background: #fff;
}

.image-card {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.description-card {
  padding: 20px 20px 20px 20px;

  text-align: center;
}

.detail-course p {
  padding: 2px;
  margin: 0;

  text-align: left;
  font-size: 14px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
  transform: translateY(-15px);
}

.foot-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30%;
  padding-bottom: 3%;
}

.card-not-line { 
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}


.card-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  text-align: center;

  box-shadow: 2px 2px 8px 4px #d3d3d3d1;

  border-radius: 15px;

  transition: .5s;
}

.card-head-sm {
  padding-left: 1px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-body-sm {
  padding: 5px;
  text-align: left;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-bottom: 5%;
}

@media screen and (min-width: $medium-width) {
  .card { width: 70%; }

  .card-not-line {
    width: 270px;
    
    text-align: left;
  }

  .card-container {   
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5%;
    gap: 20px;
  }
}

@media screen and (min-width: $high-width) {
  .card-not-line { width: 30%; }

  .card {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 3px;
    width: 40%;
  }

  .card-container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1000) {

  .card {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 3px;
    width: 30%;
  }
  
}