.icon {
  color: $color-white;
  font-size: 20px;
  text-align: center;
}

.icon-items {
  color: $color-black;
  text-align: center;
}

.photo {
  width: 200px;
  height: 200px;
  margin: 1%;
  padding: 1%;
}

.photo-circle { clip-path: circle(40% at center); }