.icon {
  color: $color-white;
  font-size: 30px;
  text-align: center;
  margin-right: 20px;
}

.icon-items {
  color: $color-black;
  text-align: center;
  margin-right: 5px;
}

.photo {
  width: 200px;
  height: 200px;
  margin: 1%;
  padding: 1%;
}

.photo-circle { clip-path: circle(40% at center); }