.text-color-primary { color: $color-primary; }

.text-color-black { color: $color-black; }

.text-color-white { color: $color-white; }

.text-center { text-align: center; }

.inline-block {
    display: flex;
    justify-content: space-between;
}

.text-weight { font-weight: 700; }

.text-small { font-size: $font-size-small; }

.text-big { font-size: $font-size-big; }

.text-medium { font-size: $font-size-medium; }

.text-pm0 {
    padding: 0;
    margin: 0;
}

.text-pm1 {
    padding: 7px;
    margin: 0;
}

.badge {
  background-color: $color-secondary;
}

.badge-red {
  color: $color-white;
  
  background-color: $color-red;
}

.badge-blue {
  color: $color-white;

  background-color: $color-sky-blue;
}

.badge-yellow {
  color: $color-black;

  background-color: $color-yellow;
}

.badge-info {
  color: $color-white;

  background-color: $color-sky-blue;
}

.badge-green {
  color: $color-white;

  background-color: $color-green;
}