<main>
  <app-loader [loading] = "loading"></app-loader>
  <section class="container" aria-label="Detalle de Curso">

    <div class="content-title">
      <h1>{{courseDTO.nombre_curso}}</h1>
    </div>

    <div class="card-content">

      <div class="card">
        <div class="card-head">
          <img class="image-card" src={{getRouteImage(courseDTO.imagen_curso)}} alt="Imagen course">
        </div>

        <div class="description-card">
          <p class="text-weight">{{courseDTO.nombre_curso}}</p>

          <div class="detail-course">
            <div class="inline-block">
              <p>
                <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
                <span>Inicio: </span>
                {{getDateFormat(courseDTO.fecha_inicio)}}
              </p>
              <span *ngIf="verifyCloseCousre(courseDTO.fecha_fin_inscripcion)" class="badge badge-green">Abierto</span>
              <span *ngIf="!verifyCloseCousre(courseDTO.fecha_fin_inscripcion)" class="badge badge-red" >Cerrado</span>
            </div>
            <p>
              <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
              <span>Duración: </span>
              {{getDiffWeek(courseDTO.fecha_inicio, courseDTO.fecha_fin)}}
            </p>
            <p>
              <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
              <span>Modalidad: </span>
              {{courseDTO.modalidad}}
            </p>
          </div>
        </div>
  
        <div class="foot-card">
          <div class="">
            <button class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i> Inscríbete</button>
          </div>
        </div>

      </div>
      
      <div class="description-detail">

        <div [innerHTML]="courseDTO.descripcion"></div>

        <p class="text-center">Haz clic en el siguiente botón para descargar el programa completo del curso</p>
          
          <button class="btn btn-primary"><i class="fa-solid fa-file-pdf"></i> Descarga Programa</button>
    
      </div>

      


    </div>
  
    
  </section>
</main>