<main>
  <app-loader [loading] = "loading"></app-loader>

  <app-form-inscription></app-form-inscription>

  <section class="container" aria-label="Detalle de Curso">

    <div class="content-title">
      <h1>{{courseDTO.nombre_curso}}</h1>
    </div>

    <div *ngIf="courseDTO.cod_curso!=0" class="card-content">

      <app-item-course class="card" [courseDTO] = "courseDTO" (sendSearchEnrolledCourse)="searchEnrolledCourse()"></app-item-course>
      
      <div class="description-detail">

        <div class="width-100" [innerHTML]="courseDTO.descripcion"></div>

        <div *ngIf="courseDTO.documento_descripcion !== null" class="text-center">
          <p class="text-weight">Haz clic en el siguiente botón para descargar el programa completo del curso</p>
          <button class="btn btn-primary" (click)="viewProgram(courseDTO.documento_descripcion)"><i class="fa-solid fa-file-pdf"></i> Descargar Programa</button>
        </div>
        
      </div>

      


    </div>
  
    
  </section>
</main>