<main>
  
  

    <section class="container" aria-label="Detalle de Curso">
  
      <div class="content-title">
        <h1>Dashboard</h1>
      </div>
        
      <div class="content">
      
        <div class="card-sm text-color-primary">
          <div class="card-head-sm">
            <i class="fa-solid fa-building-columns text-big"></i>
          </div>
          <div class="card-body-sm">
            <p class="text-weight">Cursos</p>
            <p>25</p>
          </div>
        </div>
  
        <div class="card-sm text-color-primary">
          <div class="card-head-sm">
            <i class="fa-solid fa-user-clock text-big"></i>
          </div>
          <div class="card-body-sm">
            <p class="text-weight">Pendientes</p>
            <p>8</p>
          </div>
        </div>
  
        <div class="card-sm text-color-primary">
          <div class="card-head-sm">
            <i class="fa-solid fa-user-check text-big"></i>
          </div>
          <div class="card-body-sm">
            <p class="text-weight">Matriculados</p>
            <p>8</p>
          </div>
        </div>
  
  
        <div class="card-sm text-color-primary">
          <div class="card-head-sm">
            <i class="fa-solid fa-user-graduate text-big"></i>
          </div>
          <div class="card-body-sm">
            <p class="text-weight">Aprobados</p>
            <p>10</p>
          </div>
        </div>
  
  
  
      </div>
  
  
  
  
  
    
      
    </section>
  </main>