<form class="modal fade" id="modalConfirmInscription" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true" [formGroup]="registerForm" (ngSubmit)="register()">
  <app-loader [loading] = "loading"></app-loader>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">{{ title }}</label>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="form-modal">
          
          <div class="panel panel-col-p100">

            <div *ngIf="ban === false && typeForm === 'no_cumple'" class="input-group">
              <label class="form-label" for="observaciones">Observaciones:</label>
              <label class="form-control">{{ observacion_revision }}</label>
            </div>

            <div *ngIf="typeForm !== 'matriculado' && typeForm !== 'pendiente'" class="input-group">
              <label class="form-label" for="subir_programa">Seleccionar archivo: <span class="required" aria-label="required">Si es necesario acorde a los requisitos de inscripción debes subir el archivo</span></label>
              <input class="form-control" id="subir_programa" type="file" accept=".pdf" name="pdf" (change)="selectPdf($event)" #filePdf>
            </div>

            <div *ngIf="ban === false && documento_descripcion.value !== null" class="input-group">
              <button class="btn btn-primary btn-sm width-100" type="button" (click) = "view()"><i class="fa-solid fa-search"></i> Visualizar</button>
            </div>

          </div>

        </form>
        
      </div>
      <div class="modal-footer">
        <button *ngIf="typeForm !== 'matriculado' && typeForm !== 'pendiente'" class="btn btn-primary btn-sm" type="submit"><i class="fa-solid fa-paper-plane"></i> {{textButton}}</button>
      </div>
    </div>
  </div>
</form>