<main>

    <section class="container" aria-label="Acerca de">
  
      <div class="content-title">
          <h1>Acerca de</h1>
          <p>La plataforma EDUCCONTI es desarrollada para mostrar ofertas de cursos gratuitos que ofrece la Institución Tecnológica de la ciudad de Pasaje con el objetivo de impulsar el desarrollo y preparación continua de la comunidad en general, cualquier persona que desea adquirir nuevos conocimientos, fortalecer y mejorar habilidades deberá estar registrado, subir la documentación respectiva de requisitos en el caso que sea necesaria y esperar la aprobación de la inscripción para recibir el curso.</p>
      </div>
  
      <h2 class="text-pm0">Autor</h2>
      <img class="photo photo-circle text-pm0" src="./assets/images/perfil.jpg" alt="Silvio Quezada Photo">
      
      <p class="text-medium text-pm0">Silvio Quezada</p>
      <p class="text-pm1">Programador de Software</p>
      
      <div class="content-aling-right">          
          <a class="btn btn-primary hover-white" target="_blank" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i> Contáctame</a>
      </div>
      
    </section>
  
  </main>