<form class="modal fade" id="modalFormRecover" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true" [formGroup]="registerForm" (ngSubmit)="register()">
  <app-loader [loading] = "loading"></app-loader>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">Recuperación de contraseña</label>
        <button class="btn-close pointer" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>
      <div class="modal-body">
        
        <div class="form-modal">

          <div class="panel panel-col-p100">
            <div class="input-group">
              <label class="form-label" for="correo">Ingrese correo de recuperación:</label>
              <input class="form-control" id="correo" type="text" placeholder="Ingrese correo" maxlength="100" [formControl]="correo" [ngClass]="{ 'is-invalid': (correo.errors && isValidForm != null && !isValidForm) || !isValidFormEmail}">
              <div *ngIf="correo.errors || !isValidFormEmail">
                <div *ngIf="correo.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="correo?.hasError('required')">Correo es requerido</small>
                  <small class="text-color-red" *ngIf="correo?.hasError('pattern')">Correo no es válido</small>
                </div>
                <div *ngIf="!isValidFormEmail">
                  <small class="text-color-red">Correo no está registrado</small>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-paper-plane"></i> Enviar</button>
      </div>
    </div>
  </div>
</form>
