<main>  

  <section class="container" aria-label="Cursos ofertados">

    <div>
    <h1>Mis Cursos</h1>
    <p>Revisa los estados de tus cursos.</p>
    </div>

    <div class="card-container">

    <div class="card">

        <div class="card-head">
        <img class="image-card"  src="./assets/images/d.jpg" alt="Imagen member">
        </div>
        
        <div class="description-card">
        <p class="text-weight">Fundamentos de Programación en la diversidad Java</p>

        <div class="detail-course">
            <div class="inline-block">
            <p>
                <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
                <span>Inicio</span>
                15 de Junio
            </p>
            <span class="badge badge-yellow">Pendiente</span>
            </div>
            
            <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
            </p>
            <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
            </p>
        </div>

        </div>

        <div class="foot-card">
        <a class="btn btn-primary" href="./detail_course.html"><i class="fas fa-search"></i> Ver inscripción</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-head">
        <img class="image-card"  src="./assets/images/b.jpg" alt="Imagen member">
        </div>

    
        <div class="description-card">
        <p class="text-weight">Programación Orientada a Objetos</p>

        <div class="detail-course">
            <div class="inline-block">
            <p>
                <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
                <span>Inicio</span>
                15 de Junio
            </p>
            <span class="badge badge-red">No cumple</span>
            </div>
            <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
            </p>
            <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
            </p>
        </div>
        
        </div>

        <div class="foot-card">
        <a class="btn btn-primary" href="./detail_course.html"><i class="fas fa-search"></i> Ver observaciones</a>
        </div>
    </div>
    
    <div class="card">
    
        <div class="card-head">
        <img class="image-card"  src="./assets/images/c.jpg" alt="Imagen member">
        </div>
        
        <div class="description-card">
        <p class="text-weight">Técnicas de estadística</p>

        <div class="detail-course">
            <div class="inline-block">
            <p>
                <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
                <span>Inicio</span>
                15 de Junio
            </p>
            <span class="badge badge-info">Matriculado</span>
            </div>
            <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
            </p>
            <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
            </p>
        </div>

        </div>

        <div class="foot-card">
        <a class="btn btn-primary" href="./detail_course.html"><i class="fas fa-search"></i> Ver detalle</a>
        </div>
    </div>

    <div class="card">
    
        <div class="card-head">
        <img class="image-card"  src="./assets/images/c.jpg" alt="Imagen member">
        </div>
        
        <div class="description-card">
        <p class="text-weight">Técnicas de estadística</p>

        <div class="detail-course">
            <div class="inline-block">
            <p>
                <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
                <span>Inicio</span>
                15 de Junio
            </p>
            <span class="badge badge-green">Aprobado</span>
            </div>
            <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
            </p>
            <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
            </p>
        </div>

        </div>

        <div class="foot-card">
        <a class="btn btn-primary" href="./detail_course.html"><i class="fa-solid fa-file-pdf"></i> Descargar certificado</a>
        </div>
    </div>

    <div class="card">
    
        <div class="card-head">
        <img class="image-card"  src="./assets/images/c.jpg" alt="Imagen member">
        </div>
        
        <div class="description-card">
        <p class="text-weight">Técnicas de estadística</p>

        <div class="detail-course">
            <div class="inline-block">
            <p>
                <span class="icon-items"><i class="fa-solid fa-calendar-days"></i></span>
                <span>Inicio</span>
                15 de Junio
            </p>
            <span class="badge badge-red">No Aprobado</span>
            </div>
            <p>
            <span class="icon-items"><i class="fa-regular fa-clock"></i></span>
            <span>Duración: </span>
            4 Semanas
            </p>
            <p>
            <span class="icon-items"><i class="fa-solid fa-location-dot"></i></span>
            <span>Modalidad: </span>
            Presencial
            </p>
        </div>

        </div>

        <div class="foot-card">
        <a class="btn btn-primary" href="./detail_course.html"><i class="fas fa-search"></i> Ver observaciones</a>
        </div>
    </div>

    </div>
  </section>
</main>