<main>

  <app-loader [loading] = "loading"></app-loader>

  <app-form-inscription (dataSend)="receiveInscriptionData()"></app-form-inscription>

  <section class="container" aria-label="Cursos ofertados">
  
    <div>
      <h1>Mis Cursos</h1>
      <p>Revisa los estados de tus cursos.</p>
    </div>
  
    <div class="card-container">
  
      <app-item-course class="card" (sendViewInscription)="viewInscription($event)" (sendViewObservation)="viewObservation($event)" [courseDTO] = "item.curso" [enrollDTO] = "item" *ngFor="let item of coursesDTO"></app-item-course>
      
    </div>
  </section>
</main>