<app-loader [loading] = "loading"></app-loader>

<app-course-form (dataSend)="receiveManagerData()"></app-course-form>

<app-course-search></app-course-search>

<main>
  
  <section class="container" aria-label="Listado de usuarios">

      <div class="content-title">
        <h1>Listado de Cursos</h1>
      </div>
  
      <form class="form skin-form">

        
        <div class="panel panel-col-p100">

          <div class="content-column-between">
            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalForm" (click)="newRow()"><i class="fas fa-plus"></i> NUEVO</button>

            <input (keyup)="keyFilter();" class="form-filter" type="text" placeholder="Buscar" name="filterpost" [(ngModel)]="filterpost">

          </div>

          
          <table class="content-table resp">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Año</th>
                <th scope="col">Categoría</th>
                <th scope="col">Nombre Curso</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (coursesDTO | filterPeriod: filterpost) | paginate : {
                itemsPerPage: pagesize,
                currentPage: page,
                totalItems: count
              }">
                <td>{{item.codigo_curso}}</td>
                <td>{{item.anio}}</td>
                <td>{{item.categoria}}</td>
                <td>{{item.nombre_curso}}</td>
                <td>
                  <div class="flex-content-right">
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalForm" toggle="tooltip" data-bs-placement="top" title="Editar registro" (click)="editRow(item)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalSearch" toggle="tooltip" data-bs-placement="top" title="Ver registro" (click)="viewRow(item)"><i class="fas fa-search"></i></button>
                    <button class="btn btn-danger btn-sm" toggle="tooltip" data-bs-placement="top" title="Eliminar registro" (click)="deleteRow(item)"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="flex-content-right">
            <pagination-controls class="custom-pagination"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            [responsive]="true"
            (pageChange)="handlePageChange($event)">
            </pagination-controls>
          </div>

        </div>


  


        
      </form>
      





  
    
  </section>
</main>