$color-primary: rgb(71 65 215);
$color-secondary: rgb(108 117 125);

$color-grey: rgb(73 81 90);
$color-white: rgb(255, 255, 255);
$color-text: rgb(67 67 67);
$color-border-card: rgb(229 229 229);
$color-black: rgb(0, 0, 0);

$color-blue: rgb(13 110 253);
$color-sky-blue : rgb(13 202 240);
$color-green: rgb(25 135 84);
$color-red: rgb(220 53 69);
$color-yellow: rgb(255 193 7);

$background-color-input: rgb(218 227 231);