<footer class="footer">
    <div class="container-footer">
      <div class="card-not-line">
        <h2>Acerca de</h2>
        <p class="text-small">La plataforma EDUCCONTI es desarrollada para mostrar las ofertas de cursos gratuitos que ofrece el El Instituto Tecnológico en la ciudad de Pasaje con el objetivo de impulsar el desarrollo de la comunidad en general.</p>
        
      </div>
  
      <div class="card-not-line">
        <h2>Menú</h2>
        <nav>
          <ul>
            <li><a class="padding-block" (click)="home()">Inicio</a></li>
            <li class="nav-item dropdown">
              <a class="padding-block nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Categoría</a>
              <ul class="dropdown-menu shadow">
                <li>
                  <a class="dropdown-item text-color-black" (click)="category()">Informática</a>
                </li>
                <li>
                    <a class="dropdown-item text-color-black" (click)="category()">Mecánica</a>
                </li>
                <li>
                    <a class="dropdown-item text-color-black" (click)="category()">Electricidad</a>
                </li>
                <li>
                    <a class="dropdown-item text-color-black" (click)="category()">Administración</a>
                </li>
              </ul>
            </li>
            <li *ngIf="showAuthParticipant || showAuthManager"><a class="padding-block" (click)="mycourses()">Mis Cursos</a></li>
            <li><a class="padding-block" (click)="requirements()">Requisitos</a></li>
            <li *ngIf="showAuthManager" class="nav-item dropdown">
              <a class="padding-block nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Gestión</a>
              <ul class="dropdown-menu shadow">
                <li>
                  <a class="dropdown-item text-color-black" (click)="user()">Usuarios</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" (click)="period()">Periodos</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" (click)="categories()">Categorías</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" (click)="course()">Cursos</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" (click)="registrations()">Inscripciones</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" (click)="approvals()">Aprobaciones</a>
                </li>
                <li>
                  <a class="dropdown-item text-color-black" (click)="reports()">Reportes</a>
                </li>
              </ul>
            </li>
            <li><a class="padding-block" (click)="about()">Acerca de</a></li>
            <li *ngIf="showAuthParticipant || showAuthManager"><a class="padding-block" (click)="profile()">Perfil</a></li>
            <li *ngIf="showAuthParticipant !=true || showAuthManager !=true"><a class="padding-block" (click)="login()">Acceder</a></li>
          </ul>
        </nav>
      </div>
  
      <div class="card-not-line">
        <h2>Redes Sociales</h2>
        <div>
          <a class="icon" href="https://www.youtube.com/channel/UCeYdusEIaQXu9YABYDQjaew" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a>
          <a class="icon" href="https://www.facebook.com/silvio.quezada.3" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a class="icon" href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </div>
    
    <div>
        <p class="text-center">&copy; Universitat Oberta de Catalunya - Diseñado por Silvio Vinicio Quezada Puchaicela</p>
    </div>
  </footer>