<app-loader [loading] = "loading"></app-loader>

<app-verify-registry (dataSend)="receiveVerifyRegistryData()"></app-verify-registry>

<main>
  
  <section class="container" aria-label="Listado de usuarios">

      <div class="content-title content-inline">
        <h1>Listado de Aprobaciones</h1>
        <div class="width-150px">
          <select class="form-control form-control-select" id="periodos" (change)="changePeriod($event)">
            <option [value]="item.cod_periodo" *ngFor="let item of periodsDTO" [selected]="cod_periodo == item.cod_periodo">
              {{item.codigo_periodo}}
            </option>
          </select>
        </div>
      </div>
  
      <form class="form skin-form">

        
        <div class="panel panel-col-p100">

          <div class="content-column-between">

            <div class="width-150px">
              <select class="form-control form-control-select" id="cursos" (change)="changeCourse($event)">
                <option [value]="item.cod_curso" *ngFor="let item of coursesDTO" [selected]="cod_curso == item.cod_curso">
                  {{item.nombre_curso}}
                </option>
              </select>
            </div>
            <input (keyup)="keyFilter();" class="form-filter" type="text" placeholder="Buscar" name="filterpost" [(ngModel)]="filterpost">
          </div>

          
          <table class="content-table resp">
            <thead>
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Curso</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (inscriptionsDTO | filterRegistration: filterpost) | paginate : {
                itemsPerPage: pagesize,
                currentPage: page,
                totalItems: count
              }">
                <td>{{item.usuario}}</td>
                <td>{{item.nombre_curso}}</td>
                <td>
                  <div class="flex-content-right">
                    <div class="width-150px">
                      <select class="form-control form-control-select" id="estado_aprobacion" (change)="changeStatusApprovals($event, item)">
                        <option [value]="itemStatus.cod_estado_aprobacion" *ngFor="let itemStatus of dataStatusApproval" [selected]="item.estado_aprobacion == itemStatus.cod_estado_aprobacion">
                          {{itemStatus.estado_aprobacion}}
                        </option>
                      </select>
                    </div>
                  </div>
                </td>
                <td class="inline-block">
                    <div *ngIf="item.estado_aprobacion == 2" class="upload-container">
                      <label for="file-input" (click)="selectItem(item.cod_matricula)">
                        <div class="btn btn-primary btn-sm" toggle="tooltip" data-bs-placement="top" title="Cargar Certificado"><i class="fa-solid fa-cloud-arrow-up"></i></div>
                      </label>
                      <input class="file-input" type="file" accept=".pdf" id="file-input" (change)="selectPdf($event)">
                    </div>

                    <button *ngIf="item.estado_aprobacion == 2 && item.archivo_certificado != ''" class="btn btn-primary btn-sm" type="button" toggle="tooltip" data-bs-placement="top" title="Visualizar Certificado" (click)="viewCertificate(item.archivo_certificado)"><i class="fa-solid fa-search"></i></button>

                    <div *ngIf="item.estado_aprobacion == 2 && item.archivo_certificado == ''">
                      <span class="badge badge-yellow">Sin Certificado</span>
                    </div>
                    
                </td>
              </tr>
            </tbody>
          </table>
          <div class="flex-content-right">
            <pagination-controls class="custom-pagination"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            [responsive]="true"
            (pageChange)="handlePageChange($event)">
            </pagination-controls>
          </div>

        </div>


  


        
      </form>
      





  
    
  </section>
</main>