<form class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true" [formGroup]="registerForm" (ngSubmit)="register()">
  <app-loader [loading] = "loading"></app-loader>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">{{ title }}</label>
        <button class="btn-close pointer" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>
      <div class="modal-body">
        
        <div class="form-modal">

          <div class="panel panel-col-p100">
            <div class="input-group">
              <label class="form-label" for="categoria">Categoría:</label>
              <input class="form-control" id="categoria" type="text" placeholder="Ingrese categoría" maxlength="100" [formControl]="categoria" [ngClass]="{ 'is-invalid': (categoria.errors && isValidForm != null && !isValidForm) || !isValidFormPeriod}">
              <div *ngIf="categoria.errors || !isValidFormPeriod">
                <div *ngIf="categoria.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="categoria?.hasError('required')">Categoría es requerido</small>
                </div>
                <div *ngIf="!isValidFormPeriod">
                  <small class="text-color-red">Categoría ya está registrado</small>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save"></i> {{textButton}}</button>
      </div>
    </div>
  </div>
</form>