<app-loader [loading] = "loading"></app-loader>
<main>

  <section class="container" aria-label="Detalle de Curso">

    <div class="content-title">
      <h1>Perfil</h1>
    </div> 
  
    <form class="form skin-form" [formGroup]="profileForm" (ngSubmit)="profile()">

      <div class="panel panel-col-p50">
        <div *ngIf="tipo_usuario=='NORMAL'" class="input-group">
          <label class="form-label" for="cedula">Cédula:</label>
          <input class="form-control" id="cedula" type="text" placeholder="Ingrese cedula" maxlength="10" [formControl]="cedula" [ngClass]="{ 'is-invalid': (cedula.errors && isValidForm != null && !isValidForm) || !isValidFormCedula}">
          <div *ngIf="cedula.errors">
            <div *ngIf="(cedula.errors && isValidForm != null && !isValidForm)">
              <small class="text-color-red" *ngIf="cedula?.hasError('isValid')">{{ messagueCedula }}</small>
            </div>
          </div>
          <div *ngIf="!isValidFormCedula">
            <small class="text-color-red">{{ messagueCedula }}</small>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label" for="apellidos">Apellidos:</label>
          <input class="form-control" id="apellidos" type="text" placeholder="Ingrese apellidos" maxlength="50" [formControl]="apellido" [ngClass]="{ 'is-invalid': apellido.errors && isValidForm != null && !isValidForm}">
          <div *ngIf="apellido.errors">
            <div *ngIf="apellido.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="apellido?.hasError('required')">Apellido es requerido</small>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label" for="nombres">Nombres:</label>
          <input class="form-control" id="nombres" type="text" placeholder="Ingrese nombres" maxlength="50" [formControl]="nombre" [ngClass]="{ 'is-invalid': nombre.errors && isValidForm != null && !isValidForm}">
          <div *ngIf="nombre.errors">
            <div *ngIf="nombre.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="nombre?.hasError('required')">Nombre es requerido</small>
            </div>
          </div>
        </div>
        <div *ngIf="tipo_usuario=='NORMAL'" class="input-group">
          <label class="form-label" for="genero">Género:</label>
          <select class="form-control form-control-select" id="genero" [formControl]="genero" [ngClass]="{ 'is-invalid': genero.errors && isValidForm != null && !isValidForm}">
            <option value="MASCULINO">MASCULINO</option>
            <option value="FEMENINO">FEMENINO</option>
          </select>
          <div *ngIf="genero.errors">
            <div *ngIf="genero.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="genero?.hasError('required')">Género es requerido</small>
            </div>
          </div>
        </div>
        <div *ngIf="tipo_usuario=='NORMAL'" class="input-group">
          <label class="form-label" for="etnia">Etnia</label>
          <select class="form-control form-control-select" id="etnia" [formControl]="etnia" [ngClass]="{ 'is-invalid': etnia.errors && isValidForm != null && !isValidForm}">
            <option value="MESTIZO">MESTIZO</option>
            <option value="MONTUBIO">MONTUBIO</option>
            <option value="INDÍGENA">INDÍGENA</option>
            <option value="BLANCA">BLANCA</option>
            <option value="NEGRA">NEGRA</option>
          </select>
          <div *ngIf="etnia.errors">
            <div *ngIf="etnia.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="etnia?.hasError('required')">Etnia es requerido</small>
            </div>
          </div>
        </div>
        <div *ngIf="tipo_usuario=='NORMAL'" class="input-group">
          <label class="form-label" for="direccion">Dirección:</label>
          <input class="form-control" id="direccion" type="text" placeholder="Ingrese direccion" maxlength="200" [formControl]="direccion" [ngClass]="{ 'is-invalid': direccion.errors && isValidForm != null && !isValidForm}">
          <div *ngIf="direccion.errors">
            <div *ngIf="direccion.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="direccion?.hasError('required')">Dirección es requerido</small>
            </div>
          </div>
        </div>
        <div *ngIf="tipo_usuario!='NORMAL'">
          <div class="input-group">
            <label class="form-label" for="celular">Celular:</label>
            <input class="form-control" id="celular" type="text" placeholder="Ingrese celular" maxlength="15" [formControl]="celular" [ngClass]="{ 'is-invalid': celular.errors && isValidForm != null && !isValidForm}">
            <div *ngIf="celular.errors">
              <div *ngIf="celular.errors && isValidForm != null && !isValidForm">
                <small class="text-color-red" *ngIf="celular?.hasError('required')">Celular es requerido</small>
              </div>
            </div>
          </div>
          <div class="input-group">
            <label class="form-label" for="correo">Correo:</label>
            <input class="form-control" id="correo" type="text" placeholder="Ingrese correo" maxlength="100" [formControl]="correo" [ngClass]="{ 'is-invalid': (correo.errors && isValidForm != null && !isValidForm) || !isValidFormEmail}">
            <div *ngIf="correo.errors || !isValidFormEmail">
              <div *ngIf="correo.errors && isValidForm != null && !isValidForm">
                <small class="text-color-red" *ngIf="correo?.hasError('required')">Correo es requerido</small>
                <small class="text-color-red" *ngIf="correo?.hasError('pattern')">Correo no es válido</small>
              </div>
              <div *ngIf="!isValidFormEmail">
                <small class="text-color-red">Correo ya está registrado</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-col-p50">
        <div *ngIf="tipo_usuario=='NORMAL'">
          <div class="input-group">
            <label class="form-label" for="celular">Celular:</label>
            <input class="form-control" id="celular" type="text" placeholder="Ingrese celular" maxlength="15" [formControl]="celular" [ngClass]="{ 'is-invalid': celular.errors && isValidForm != null && !isValidForm}">
            <div *ngIf="celular.errors">
              <div *ngIf="celular.errors && isValidForm != null && !isValidForm">
                <small class="text-color-red" *ngIf="celular?.hasError('required')">Celular es requerido</small>
              </div>
            </div>
          </div>
          <div class="input-group">
            <label class="form-label" for="correo">Correo:</label>
            <input class="form-control" id="correo" type="text" placeholder="Ingrese correo" maxlength="100" [formControl]="correo" [ngClass]="{ 'is-invalid': (correo.errors && isValidForm != null && !isValidForm) || !isValidFormEmail}">
            <div *ngIf="correo.errors || !isValidFormEmail">
              <div *ngIf="correo.errors && isValidForm != null && !isValidForm">
                <small class="text-color-red" *ngIf="correo?.hasError('required')">Correo es requerido</small>
                <small class="text-color-red" *ngIf="correo?.hasError('pattern')">Correo no es válido</small>
              </div>
              <div *ngIf="!isValidFormEmail">
                <small class="text-color-red">Correo ya está registrado</small>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="tipo_usuario=='NORMAL'" class="input-group">
          <label class="form-label" for="instruccion">Nivel de Instrucción:</label>
          <select class="form-control form-control-select" id="instruccion" [formControl]="nivelInstruccion" [ngClass]="{ 'is-invalid': nivelInstruccion.errors && isValidForm != null && !isValidForm}">
            <option>NINGUNA</option>
            <option>PRIMARIA</option>
            <option>SECUNDARIA</option>
            <option>TERCER NIVEL</option>
            <option>CUARTO NIVEL</option>
          </select>
          <div *ngIf="nivelInstruccion.errors">
            <div *ngIf="nivelInstruccion.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="nivelInstruccion?.hasError('required')">Nivel Instrucción es requerido</small>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label" for="usuario">Usuario:</label>
          <input class="form-control" id="usuario" type="text" placeholder="Ingrese usuario" maxlength="50" [formControl]="usuario" [ngClass]="{ 'is-invalid': (usuario.errors && isValidForm != null && !isValidForm) || !isValidFormUser}">
          <div *ngIf="usuario.errors || !isValidFormUser">
            <div *ngIf="usuario.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="usuario?.hasError('required')">Usuario es requerido</small>
            </div>
            <div *ngIf="!isValidFormUser">
              <small class="text-color-red">Usuario ya está registrado</small>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label class="form-label" for="password">Contraseña:</label>
          <input class="form-control" id="password" type="password" placeholder="Ingrese contraseña" maxlength="50" [formControl]="password" [ngClass]="{ 'is-invalid': password.errors && isValidForm != null && !isValidForm}">
          <div *ngIf="password.errors">
            <div *ngIf="password.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="password?.hasError('required')">Contraseña es requerido</small>
              <small class="text-color-red" *ngIf="password?.hasError('pattern')">La contraseña debe tener al menos 8 caracteres, mayúsculas, signos, minúsculas y números</small>
            </div>
          </div>
        </div>

        <div class="input-group">
          <label class="form-label" for="password">Confirme contraseña:</label>
          <input class="form-control" id="password" type="password" placeholder="Confirme contraseña" maxlength="50" [formControl]="password2" [ngClass]="{ 'is-invalid': password2.errors && isValidForm != null && !isValidForm}">
          <div *ngIf="password2.errors">
            <div *ngIf="password2.errors && isValidForm != null && !isValidForm">
              <small class="text-color-red" *ngIf="password2?.hasError('isValid')">{{ messaguePassword }}</small>
            </div>
          </div>
        </div>
        <div class="input-group input-group-center">
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-save"></i> Actualizar</button>
        </div>
      </div>

    </form>

  </section>
</main>