<form class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true" [formGroup]="registerForm" (ngSubmit)="register()">
  <app-loader [loading] = "loading"></app-loader>

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <label class="text-weight">{{ title }}</label>
        <button class="btn-close pointer" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        
      </div>
      <div class="modal-body">
        
        <div class="form-modal">

          <div class="panel panel-col-p50">
            <div class="input-group">
              <label class="form-label" for="codigo_curso">Código:</label>
              <input class="form-control" id="codigo_curso" type="text" placeholder="Ingrese codigo" maxlength="100" [formControl]="codigo_curso" [ngClass]="{ 'is-invalid': (codigo_curso.errors && isValidForm != null && !isValidForm) || !isValidFormPeriod}">
              <div *ngIf="codigo_curso.errors || !isValidFormPeriod">
                <div *ngIf="codigo_curso.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="codigo_curso?.hasError('required')">Código es requerido</small>
                </div>
                <div *ngIf="!isValidFormPeriod">
                  <small class="text-color-red">Código ya está registrado</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="periodos">Periodo:</label>
              <select class="form-control form-control-select" id="periodos" [formControl]="periodo" [ngClass]="{'is-invalid': periodo.errors && isValidForm != null && !isValidForm}">
                <option></option>
                <option [value]="item.cod_periodo" *ngFor="let item of periodsDTO">
                  {{item.descripcion}}
                </option>
              </select>
              <div *ngIf="periodo.errors">
                <div *ngIf="periodo.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="periodo?.hasError('required')">Periodo es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="categorias">Categoria:</label>
              <select class="form-control form-control-select" id="categorias" [formControl]="categoria" [ngClass]="{'is-invalid': categoria.errors && isValidForm != null && !isValidForm}">
                <option></option>
                <option [value]="item.cod_categoria" *ngFor="let item of categoriesDTO">
                  {{item.categoria}}
                </option>
              </select>
              <div *ngIf="categoria.errors">
                <div *ngIf="categoria.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="categoria?.hasError('required')">Categoría es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="curso">Nombre curso:</label>
              <input class="form-control" id="curso" type="text" placeholder="Ingrese nombre curso" maxlength="50" [formControl]="nombre_curso" [ngClass]="{ 'is-invalid': nombre_curso.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="nombre_curso.errors">
                <div *ngIf="nombre_curso.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="nombre_curso?.hasError('required')">Nombre del curso es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">


              
              


              <label class="form-label" for="imagen_curso">Imagen:</label>
              <!-- <input class="form-control" id="imagen_curso" type="text" placeholder="Suba imagen_curso" maxlength="50" [formControl]="imagen_curso" [ngClass]="{ 'is-invalid': imagen_curso.errors && isValidForm != null && !isValidForm}"> -->
              <input type="file" accept=".jpg,.png" name="image" [formControl]="imagen_curso" (change)="selectImagen($event)">
              <div *ngIf="imagen_curso.errors">
                <div *ngIf="imagen_curso.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="imagen_curso?.hasError('required')">Imagen es requerido</small>
                </div>
              </div>



            </div>

            <div class="input-group">
              <label class="form-label" for="fecha_inicio_inscripcion">Fecha inicio inscripción:</label>
              <input class="form-control" id="fecha_inicio_inscripcion" type="date" maxlength="10" [formControl]="fecha_inicio_inscripcion" [ngClass]="{ 'is-invalid': fecha_inicio_inscripcion.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="fecha_inicio_inscripcion.errors">
                <div *ngIf="fecha_inicio_inscripcion.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="fecha_inicio_inscripcion?.hasError('required')">Fecha inicio de inscripción es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="fecha_fin_inscripcion">Fecha fin inscripción:</label>
              <input class="form-control" id="fecha_fin_inscripcion" type="date" maxlength="10" [formControl]="fecha_fin_inscripcion" [ngClass]="{ 'is-invalid': fecha_fin_inscripcion.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="fecha_fin_inscripcion.errors">
                <div *ngIf="fecha_fin_inscripcion.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="fecha_fin_inscripcion?.hasError('required')">Fecha fin de inscripción es requerido</small>
                </div>
              </div>
            </div>

          </div>

          <div class="panel panel-col-p50">

            <div class="input-group">
              <label class="form-label" for="fecha_inicio">Fecha inicio curso:</label>
              <input class="form-control" id="fecha_inicio" type="date" maxlength="10" [formControl]="fecha_inicio" [ngClass]="{ 'is-invalid': fecha_inicio.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="fecha_inicio.errors">
                <div *ngIf="fecha_inicio.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="fecha_inicio?.hasError('required')">Fecha inicio de curso es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="fecha_fin">Fecha fin curso:</label>
              <input class="form-control" id="fecha_fin" type="date" maxlength="10" [formControl]="fecha_fin" [ngClass]="{ 'is-invalid': fecha_fin.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="fecha_fin.errors">
                <div *ngIf="fecha_fin.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="fecha_fin?.hasError('required')">Fecha fin de curso es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="modalidad">Modalidad:</label>
              <input class="form-control" id="modalidad" type="text" placeholder="Ingrese año" maxlength="15" [formControl]="modalidad" [ngClass]="{ 'is-invalid': modalidad.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="modalidad.errors">
                <div *ngIf="modalidad.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="modalidad?.hasError('required')">Año es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="cupo">Cupo:</label>
              <input class="form-control" id="cupo" type="text" placeholder="Ingrese cantidad cupo" maxlength="3" [formControl]="cupo" [ngClass]="{ 'is-invalid': cupo.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="cupo.errors">
                <div *ngIf="cupo.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="cupo?.hasError('required')">Cupo es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="descripcion">Descripción:</label>
              <input class="form-control" id="descripcion" type="text" placeholder="Ingrese descripcion" maxlength="500" [formControl]="descripcion" [ngClass]="{ 'is-invalid': descripcion.errors && isValidForm != null && !isValidForm}">
              <div *ngIf="descripcion.errors">
                <div *ngIf="descripcion.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="descripcion?.hasError('required')">Año es requerido</small>
                </div>
              </div>
            </div>

            <div class="input-group">
              <label class="form-label" for="subir_programa">Subir programa pdf:</label>
              <!-- <input class="form-control" id="subir_programa" type="text" placeholder="Subir programa" maxlength="50" [formControl]="documento_descripcion" [ngClass]="{ 'is-invalid': documento_descripcion.errors && isValidForm != null && !isValidForm}"> -->
              <input type="file" accept=".pdf" name="image" [formControl]="documento_descripcion" (change)="selectPdf($event)">
              <div *ngIf="documento_descripcion.errors">
                <div *ngIf="documento_descripcion.errors && isValidForm != null && !isValidForm">
                  <small class="text-color-red" *ngIf="documento_descripcion?.hasError('required')">Año es requerido</small>
                </div>
              </div>
            </div>

          </div>

        </div>
        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-save"></i> {{textButton}}</button>
      </div>
    </div>
  </div>
</form>