<main>
  <section class="container" aria-label="Detalle de Curso">

    <div class="content-title">
    <h1>Acceso del Usuario</h1>
    </div>

    <form class="form-login skin-form">

    <div class="panel-login">
        <div class="input-group">
        <label class="form-label" for="username">Usuario:</label>
        <input class="form-control" id="username" type="text" placeholder="Ingrese username">
        <!-- <label>Existe un error</label> -->
        </div>
        <div class="input-group">
        <label class="form-label" for="email">Contraseña:</label>
        <input class="form-control" id="email" type="text" placeholder="Ingrese email">
        </div>

        <div class="input-group content-row-between">
        <a class="btn btn-primary" href="dashboard.html"><i class="fa-solid fa-key"></i> Ingresar</a>
        <a class="text-color-primary" routerLink="/user/registrate"><span class="text-link">Regístrate</span></a>
        </div>
        <div class="input-group"><a class="text-color-primary" href="sign_up.html"><span class="text-link">Recuperar contraseña</span></a></div>
    </div>

    </form>

  </section>
</main>